@model List<Teacher>

                <div class="card-body">
                    <div class=table-responsive>
                        <!--<table class="table table-sm table-nowrap card-table">-->
                        <table class="table display table-bordered table-striped table-hover bg-white m-0 card-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Hobbies</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="user_profile.html" class="avatar avatar-xs" data-toggle="tooltip" title="Melissa Ayre">
                                                    <img src="~/admin/assets/dist/img/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                                                </a>

                                            </div>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>
                                            @foreach (var item2 in item.TeacherHobbies)
                                            {
                                                @(item2.Hobby.Name + " ")
                                            }

                                        </td>
                                   
                                        <td>
                                            <a href="#" class="btn btn-success-soft btn-sm mr-1"><i class="far fa-eye"></i></a>
                                            <a href="Edit/@item.id" class="btn btn-danger-soft btn-sm"><i class="far fa-trash-alt"></i></a>
                                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.id" class="btn btn-success-soft btn-sm ml-1"><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
