@model AccountVM
@{
    ViewData["Title"] = "ForgetPassword";
}

<form method="post">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

    <input class="form-control" asp-for="User.Email" type="text" placeholder="Email">
    <span asp-validation-for="User.Email">  </span>
  
    <div class="button-box">
        <button type="submit" class="btn btn-success">Send</button>
    </div>
</form>
