@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}

<form method="post">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label>Password</label>
        <input class="form-control" asp-for="Password" placeholder="new Password">
    </div>
    <div class="mb-3">
        <label> Confirm Password</label>
        <input class="form-control" asp-for="Confirm" placeholder="new Password">
    </div>
    <div class="mb-3 d-none">
        <input class="form-control" asp-for="Token" />
        <input class="form-control" asp-for="User.Email" />
    </div>
    <div class="button-box">
        <button type="submit" class="default-btn">Reset Passwod</button>
    </div>
</form>

